.App {
  text-align: center;
}

.tabela {
  background-color: white;
  border: solid black 1px;
  color: black;
  margin: 10px;
}

.tabela-position {
  align-items: center;
  border: solid white 1px;
  display: flex;
  justify-content: center;

}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-Test {
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

.header {
  background-color: purple;
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}

.spacer {
  margin-right: 10px;
}

.space-block {
  align-items: center;
  display: flex;
}

.margins {
  font-size: 40px;
  margin: 50px;
}

.margins-value {
  margin: 20px;
}

.nav {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.body-color {
  background-color: rgb(32, 32, 29);
}
